.banner{
    width: 86.8125rem;
    height: 25.625rem;
    border: 1px solid #000000;
    margin-left: 7rem;
    margin-right: 7rem;
}
.content{
    width: 476px;
    height: 6rem;
    position: absolute;
    left: 8.5rem;
    font-style: normal;
    top: 204px;
    font-weight: bold;
    line-height: 48px;

}
p{
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    margin-top: 3rem;
}
button{
    width: 11.5625rem;
    height: 2.5rem;
    background: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    margin-top: 1rem;
    color: #FFF;
}